<div class="entries">
  {{#list}}
  <div class="entry">
    <h4 class="opensource-link {{#compare id test='3' mark='<'}}blue{{else}}green{{/compare}}" attr-url="{{url}}">{{id}}.{{title}}</h4>
    <p>{{describe}}</p>
  </div>
  {{/list}}
</div>